<div class="panel row">
  <mat-tab-group (selectedIndexChange)="onTabindexChanged($event)">
    <mat-tab label="Filter Search Requests">
      <app-search-bar *ngIf="currentSearchTabIndex === 0"
                      [firstNameField]="true"
                      [lastNameField]="true"
                      (queryChanged)="onQueryChanged($event)"
      ></app-search-bar>
    </mat-tab>
    <mat-tab label="Find Suitable Candidate for Apartment">
      <app-search-bar *ngIf="currentSearchTabIndex === 1"
                      [cityField]="true"
                      [districtsField]="true"
                      [sizeField]="true"
                      [priceField]="true"
                      (queryChanged)="onQueryChanged($event)"
      ></app-search-bar>
    </mat-tab>
  </mat-tab-group>
  <div class="row">
    <app-request-count-indicator
      [requestCount]="requestCount"
      [label]="indicatorLabel"
    ></app-request-count-indicator>
    <button
      mat-icon-button
      color="primary"
      class="add-button"
      (click)="onAddClicked()"
    >
      <i class="material-icons">add</i>
    </button>
  </div>
</div>
